{% extends 'nav.html'%}
{% block body %}

<p>Choose Payment Method</p>
<div>
    <input type="radio" id="debit_credit_card" name="payment_method" value="debit_credit_card">
    <label for="debit_credit_card">Debit or Credit Card</label>
</div>

<div>
    <input type="radio" id="paypal" name="payment_method" value="paypal">
    <label for="paypal">PayPal</label>
</div>

<div>
    <input type="radio" id="bank_transfer" name="payment_method" value="bank_transfer">
    <label for="bank_transfer">Bank Transfer</label>
</div>

{% endblock %}