{% extends 'nav.html' %}
{% block body %}


<body>
    <p>Welcome, {{email}}</p>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <th>Name</th>
            <th>Price($)</th>
            <th>View Details </th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td><a href="{{ url_for('view_product', product_id=row[2] )}}">Click Here</a></td>
            <!-- {% for d in row %}
            <td>{{d}}</td>
            {% endfor %} -->
        </tr>
        {% endfor %}
    </table>

</body>

</html>
{% endblock %}