<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borneo Shopping</title>
</head>

<body>
    <h1>Borneo Shopping</h1>
    <br>
    <a href="{{url_for('index')}}">Home</a>
    <br>
    <a href="{{url_for('new_buyer')}}">New Buyer Sign Up</a>
    <br>
    <a href="{{url_for('new_seller')}}">New Seller Sign Up</a>
    {% block body %}

    <p>This is a Borneo Flask APp</p>
    {% endblock %}
</body>

</html>