{% extends 'nav.html'%}
{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/view_product.css') }}">
</head>

<body>
    <div class="container">
        <h1>Product Details</h1>
        <div class="product">
            {% set product_name = product[2] %}
            {% set product_id = product[0] %}
            {% set seller_id = product[1] %}
            {% set price = product[3] %}
            {% set product_stars = product[4] %}
            {% set description = product[5] %}
            <h2>{{ product_name }}</h2>
            <p class="product-id">Product ID: {{ product_id }}</p>
            <p class="price">Price: ${{ price }}</p>
            <p class="seller">Seller Name: {{ "seller name" }}</p>
            <p class="stars">Rating: {{ product_stars }} </p>
            <p class="description">Description: {{ description }}</p>
            <!-- <p class="seller-id">Seller ID: {{ seller_id }}</p> -->
        </div>

        <a href="{{ url_for('index') }}" class="back-btn">Back to Products</a>
        <br>
        <br>
        <form action="{{ url_for('buy_product', product_id=product_id)}}" method="POST">
            <button type="submit"> Buy {{ product_name}}</button>
        </form>
    </div>
</body>

{% endblock %}